.data-wrapper{
  position: absolute;
  top:120px;
  left:0.5%;
  width: 97%;
  border: 1px black dashed;
  display:flex;
  background-color: coral;
  padding: 5px;
  padding-left: 20px;
  align-items: center;
  /* justify-content: center; */
}
.profile-pic{
  border: 2px solid black
}
.dash-name{
  margin-left: 20px;
  color: white;
}