.data-wrapper{
  position: absolute;
  top:120px;
  left:0.5%;
  width: 99%;
  border: 1px black dashed;
  display:flex;
  background-color: coral;
}
.profile-pic{
  border: 2px solid black
}
.dash-name{
  color:#f977c1;
}