.data-wrapper{
  position: absolute;
  top:120px;
  left:0.5%;
  width: 99%;
  border: 1px black dashed;
  display:flex;
  background-color: coral;
  padding: 5px;
}
.profile-pic{
  border: 2px solid black
}
.dash-name{
  margin-left: 10px;
  color: navy;
}