<html>
  <head>
    <link href="./styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="grid-container center">
      <div class="canvas-container">
        <% for(let ia=0; ia<8; ia++){ %>
          <% for(let ib=0; ib<8; ib++){ %>
            <div class="square square1" 
            id=<%= "squareA_" + ia + "-" + ib %>
            onclick="getId(this.id)"
            ></div>
    
            <div class="square square2" 
            id=<%= "squareB_" + ia + "-" + ib %>
            onclick="getId(this.id)"
            ></div>
          <% } %>
          <p>&nbsp;</p>
          <% for(let ib=0; ib<8; ib++){ %>
            <div class="square square2"
            id=<%= "squareC_" + ia + "-" + ib %>
            onclick="getId(this.id)"
            ></div>
    
            <div class="square square1"
            id=<%= "squareD_" + ia + "-" + ib %>
            onclick="getId(this.id)"
            ></div>
          <% } %>
            <p>&nbsp;</p>
        <% } %>
        <p>&nbsp;</p>
      </div>
      <p class="between-canvas">&nbsp;</p>
          
      <div class="color-holder">
        <div class="red color" onclick="pickColor('red');"></div>
        <div class="blue color" onclick="pickColor('blue');"></div>
        <div class="green color" onclick="pickColor('green');"></div>
        <div class="pink color" onclick="pickColor('pink');"></div>
      </div>
    </div>

    <script>
      let color = 'rgb(0,0,0)';
      var element;
      let isMouseDown = false;
      let isTouchDown = false;

      function pickColor(colorClass){
        // var classT = $('.color').attr('class');
        color = window.getComputedStyle(document.querySelector('.'+colorClass)).getPropertyValue('background-color');
        var root = document.querySelector(':root');
        root.style.setProperty('--selectedColor', `${color}`);
      }
      function getId(id) {
        document.querySelector(`#${id}`).style.backgroundColor = color;
      }

      //for mobile
      document.addEventListener('touchstart', function(event) {
       isTouchDown = true;
      });
      document.addEventListener('touchend', function(event) {
        isTouchDown = false;  
      });
      
      document.addEventListener('touchmove', function(event) {
        let realTarget = document.elementFromPoint(event.touches[0].clientX, event.touches[0].clientY);
        if (isTouchDown && realTarget.classList.contains('square')) {
          realTarget.style.backgroundColor = color;
          realTarget.classList.add('highlight');
        } else {
          event.target.classList.remove('highlight');
        }
      });
      
      
      
      //for pc
      document.addEventListener('mousedown', function(event) {
        if (event.button === 0) {
          isMouseDown = true;
        }
      });
      document.addEventListener('mouseup', function(event) {
        if (event.button === 0) {
          isMouseDown = false;
        }
      });
      document.addEventListener('mousemove', function(event) {
        if (isMouseDown && event.target.classList.contains('square')) {
          event.target.style.backgroundColor = color;
          event.target.classList.add('highlight');
        } else {
          event.target.classList.remove('highlight');
        } 
      });

      </script>
  </body>
</html>