:root {
  --selectedColor: black;
}

::-webkit-scrollbar {
  display: none;
}

html{
  height: 100%;
  width: auto;
  background-image: linear-gradient(#cee3ff, #8db8f0);
}
.grid-container{
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 200px 280px;;
  gap: 9px;
  padding: 10px;
  bottom:5px;
  position: absolute;
  width: 98%;
  height: auto;
  margin-left: -10px;
  white-space:initial;
}

.canvas-container{
  border: 1.5px solid white;
  border-radius: 3px;
  outline: solid black;
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: rgba(101,85,97,255);
  padding: 10px;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
}
.canvas-wraper{
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
.square{
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-left: px;
  user-select: none;
  touch-action: none;
  cursor: pointer;
}
.square:hover {
  background-color: var(--selectedColor);
  background-image: linear-gradient(var(--selectedColor), var(--selectedColor));
}
.square1{
  background-color: rgba(128,128,128,255);
}
.square2{
  background-color: rgba(191,191,191,255);
}


.left-side{
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 240px;
  grid-template-rows: 200px 280px;
  border: 1.5px solid white;
  border-radius: 3px;
  outline: solid black;
  background-color: rgba(101,85,97,255);
  height: 509px;
}

.color-holder{
  padding: 10px;
  grid-row: 1/2;
  display: grid;
  background-color: rgba(101,85,97,255);
  grid-template-columns: 20px 20px 20px 20px;
  grid-template-rows: 100px;
}
.all-colors{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-template-rows: auto;
}
.color{
  cursor: pointer;
  height: 15px;
  width :15px;
  border-radius: 25%;
  border: 1px solid black;
}
.all-tools{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: auto;
}
.bucket{
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 25%;
  user-select: none;
}
.pipette{
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 25%;
  user-select: none;
}
.eraser{
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 25%;
  user-select: none;
}
.remove-colors{
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 25%;
  user-select: none;
}
.color-picker-holder{
  grid-row: 2/3;
  background-color: rgba(101,85,97,255);
}
.color-picker{
  margin: 0 auto;
  margin-top: 5px;
}
.color-picker-btn{
  cursor: pointer;
  margin-left: auto;
  margin-left: 16px;
  width: 200px;
}

p{
  line-height: 1em;
  
  /*need to change this if i change square size*/
  margin-top: -36.1px;
  
  user-select: none;
}